div#map {
  border: solid 8px #ccc;
  background: #eee;
  height: 230px;
  width: $blueprint-grid-columns / 2;
  @include border-radius($default-border-radius);
  margin-bottom: 0.5em;
}

.compass {
	.back {
		fill: #eee;
		fill-opacity: .8;
	}
	.fore {
	  stroke: #999;
	  stroke-width: 1.5px;
	}
	rect.back.fore {
		fill: #999;
		fill-opacity: .3;
		stroke: #eee;
		stroke-width: 1px;
		shape-rendering: crispEdges;
	}	
	.direction {
		fill: none;
	}	
	.chevron {
		fill: none;
		stroke: #999;
		stroke-width: 5px;
	}	
	.zoom .chevron {
		stroke-width: 4px;
	}
	.active .chevron, .chevron.active {
	  stroke: #fff;
	}
	&.active .active .direction {
	  fill: #999;
	}	
}

.map-poi {
	fill: #666;
}