// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

@import "compass/css3";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/bullets";
@import "compass/utilities/general/min";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding"; 
@import "blueprint/colors";
@import "blueprint/grid";




// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

@import "sassybuttons";

@import "partials/typography";
@import "partials/header";
@import "partials/flash";
@import "partials/actions";
@import "partials/home"; 
@import "partials/details"; 
@import "partials/map";                                                    

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.

body.bp {
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;
	background-color: $blueprint-background-color;
	#container {
		padding-top: 1em;
	}
	.content {
		background-color: #FFF;
		@include border-radius($default-border-radius);
		@include column($blueprint-grid-columns,true);		
	}
	.inside {
		@include clearfix;
		padding: $blueprint-grid-width / 2;	
	}

}

form.bp {
	@include blueprint-form;
}

body.one-col {
	#container {
		@include container;
	}
	#content {
		$content-columns: $blueprint-grid-columns;
		@include column($content-columns, true);
	}	
}
