- title("About")

%h1
  Managing Volunteer Events Made Easy

.content
  .inside
    %p
      Go Chip In seeks to take the stress out of organizing volunteer events. We make it easy
      for volunteer event organizers to create and manage events as well as provide tools to
      help make volunteer work more engaging.

    %p
      Created by #{link_to 'Jeff Remer', 'http://jeffremer.com', :target=>"_blank"} at the 
      2011 #{link_to 'Hack for Change', 'http://hackforchange.com', :target=>"_blank"} hackathon.