- body('home')

#create
  .inside
    %h2 Organizers

    %h3 Create an event

    = render 'events/short_form'

#volunteer

  .inside
    .header
      %h2 Volunteers
      %h3 Sign up, do some good      
    .upcoming
      %p Upcoming:    
      %ul
        - @events.each do |event|
          %li #{link_to event.title, event}

  .inside
    = render :partial => 'shared/map', :locals => {:features => @features}    
    %h4.right Volunteer opportunities near #{link_to @user_location, '#'}.

