%h4 Organizers

%h5 Create an event

= render 'events/short_form'

%h4 Volunteers

%h5 Go chip in

%ul
- @events.each do |event|
  %li #{link_to event.title, event}  
  
#map

%div.tooltip
  %div.tooltip-inner
    %div.stuff
    
= javascript_include_tag 'http://craigsworks.com/projects/qtip/packages/1.0.0-rc3/jquery.qtip-1.0.0-rc3.js'  

:javascript
  var po = org.polymaps;
  var map = po.map()
      .container(document.getElementById("map").appendChild(po.svg("svg")))
      .add(po.interact())
      .add(po.hash());
      
  map.add(po.image()
      .url(po.url("http://{S}tile.cloudmade.com"
      + "/94c6fdd94e6a42379bfec43695e00459"
      + "/998/256/{Z}/{X}/{Y}.png")
      .hosts(["a.", "b.", "c.", ""])));

  map.add(po.compass()
      .pan("none"));  

  map.add(po.geoJson()
          .features(#{@features})
          .on("load", load))      

  function load(e) {
    function marker() {
      var path = org.polymaps.svg("path");
      path.setAttribute("class", "map-poi");
      path.setAttribute("transform", "translate(-16,-28)");
      path.setAttribute("d", "M16,3.5c-4.142,0-7.5,3.358-7.5,7.5c0,4.143,7.5,18.121,7.5,18.121S23.5,15.143,23.5,11C23.5,6.858,20.143,3.5,16,3.5z M16,14.584c-1.979,0-3.584-1.604-3.584-3.584S14.021,7.416,16,7.416S19.584,9.021,19.584,11S17.979,14.584,16,14.584z");
      return path;
    }
  
    for (var i = 0; i < e.features.length; i++) {
      var f = e.features[i],
      c = f.element;
      if (e.features[i].data.geometry.type=="Point") {
        g = f.element = po.svg("g");
        g.appendChild(marker());
        g.setAttribute("transform", c.getAttribute("transform"));
        g.setAttribute("style","cursor:pointer;");
        g.setAttribute("id", f.data.id);
        c.parentNode.replaceChild(g, c);

        $(g).qtip({
           content: ['<a href="/events/', f.data.id ,'">', f.data.geometry.properties.title, '</a>'].join(''),
           show: 'mouseover',
           hide: { fixed: true, delay: 1000 },
           position: {
             corner: {
                target: 'topRight',
                tooltip: 'bottomLeft'
             }
          }           
        })

       
      }
    }
  }
